

/* ---- responsive ---- */

.grid--animate-item-size-responsive .animate-item-size-item,
.grid--animate-item-size-responsive .grid-sizer {
  width: 20%;
}

.grid--animate-item-size-responsive .animate-item-size-item__content,
.grid--animate-item-size-responsive .animate-item-size-item.is-expanded .animate-item-size-item__content {
  width: 100%;
  height: 100%;
}

/* item has expanded size */
.grid--animate-item-size-responsive .animate-item-size-item.is-expanded {
  width: 60%;
}



/* grid
------------------------- */

.grid {
  border: 2px solid #484542;
  background: hsla(0, 0%, 0%, 0.15);

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- counting ---- */

.grid--counting {
  counter-reset: item;
}

.grid--counting .grid-item:before {
  counter-increment: item;
  content: counter(item);
  display: block;
  color: #555;
  padding-top: 0.2em;
  text-align: center;
  font-size: 18px;
}

/* ---- horizontal ---- */

/* horizontal examples need height */
.grid--horizontal {
  height: 334px;
}

/* ---- static banner ---- */

.grid--has-banner {
  position: relative;
  z-index: 1!important;
}

.static-banner {
  position: absolute;
  left: 10px;
  top: 10px;
  background: hsla(210, 100%, 50%, 0.8);
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

/* ---- fixed-width ---- */

.grid--fixed-width {
  width: 304px;
}

/* ---- stamp ---- */

.grid--has-stamp {
  position: relative;
  z-index: 1!important;
}

/* ---- fit-width ---- */

/* centered */
.grid--fit-width {
  margin: 0 auto;
}

/* grid-image-item
------------------------- */

.grid-image-item,
.grid--images .grid-sizer { width: 33.33%; }

.grid-image-item {
  float: left;
}

.grid-image-item img {
  display: block;
  max-width: 100%;
}

/* grid-item
------------------------- */

.grid-item {
  float: left;
  width: 50px;
  height: 50px;
  background: #e6e5e4;
  border: 2px solid hsla(0, 0%, 0%, 0.4);
}

.grid-item--width2 { width: 100px; }
.grid-item--height2 { height: 100px; }

.grid-item--width3 { width: 150px; }
.grid-item--height3 { height: 150px; }

.grid-item--gigante {
  width: 150px;
  height: 200px;
}

.grid--clickable .grid-item:hover {
  border-color: #28F;
  background: #8CF;
  cursor: pointer;
}

/* ---- insert demo ---- */

.grid-item .number {
  line-height: 50px;
  text-align: center;
  color: #333;
  margin: 0;
  font-size: 1.3rem;
}

/* ---- fluid-5-col ---- */

.grid--fluid-5-col .grid-item,
.grid--fluid-5-col .grid-sizer { width: 20%; }

.grid--fluid-5-col .grid-item--width2 { width: 40%; }

/* ---- grid--masonry-gutter ---- */

.grid--has-gutter .grid-item--width2 {
  width: 110px;
}

/* ---- grid--masonry-gutter-bottom ---- */

.grid--masonry-gutter-bottom .grid-item {
  margin-bottom: 10px;
}

.grid--masonry-gutter-bottom .grid-item--height2 {
  height: 110px;
}

/* ---- grid--packery-gutter ---- */

.grid--packery-gutter .grid-item--width2 { width: 110px; }
.grid--packery-gutter .grid-item--height2 { height: 110px; }

/* ---- grid--fluid-gutter ---- */

.grid--fluid-gutter .grid-item,
.grid--fluid-gutter .grid-sizer {
  width: 22%;
}

.grid--fluid-gutter .gutter-sizer {
  width: 4%;
}

.grid--fluid-gutter .grid-item--width2 {
  width: 48%;
}

/* ---- masonry-horizontal ---- */

.grid--masonry-horizontal-gutter .grid-item--height2 {
  height: 110px;
}

/* ----  ---- */

.grid--masonry-horizontal-gutter-right .grid-item {
  margin-right: 10px;
}

.grid--masonry-horizontal-gutter-right .grid-item--width2 {
  width: 110px;
}

/* ---- cells-by-row-element-sizing ---- */

.grid--cells-by-row-element-sizing .grid-item {
  width: 13%;
}

.grid--cells-by-row-element-sizing .grid-item--width2 {
  width: 23%;
}

.grid--cells-by-row-element-sizing .grid-sizer {
  width: 25%;
  height: 110px;
}

/* ---- cells-by-column-element-sizing ---- */

.grid--cells-by-column-element-sizing .grid-item {
  height: 13%;
}

.grid--cells-by-column-element-sizing .grid-item--width2 {
  height: 23%;
}

.grid--cells-by-column-element-sizing .grid-sizer {
  height: 25%;
  width: 110px;
}

/* ---- fitrows-gutter ---- */

.grid--fit-rows-gutter .grid-item--width2 { width: 110px; }
.grid--fit-rows-gutter .grid-item--width3 { width: 170px; }

/* ---- filter blocks ---- */

.grid-item--filter-block-red,
.grid-item--filter-block-blue {
  width: 60px;
  height: 60px;
}

.grid--filter-blocks-large .grid-item--filter-block-red,
.grid--filter-blocks-large .grid-item--filter-block-blue {
  width: 80px;
  height: 80px;
}

.grid-item--filter-block-red { background: #D00; }
.grid-item--filter-block-blue { background: #19F; }

/* ---- horizontal order ---- */

.grid--hor-order .grid-item {
  width: 100px;
  height: 80px;
}

.grid--hor-order .grid-item--height2 { height: 100px; }
.grid--hor-order .grid-item--height3 { height: 120px; }

/* grid-splash-item
------------------------- */

.grid-splash-item {
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 20px;
  background: red;
  color: white;
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 1.0;
}

.grid-splash-item--width2 { width: 210px; }
.grid-splash-item--height2 { height: 210px; }

.grid-splash-item:nth-child(10n+0) { background: hsl(   0, 100%, 50%); }
.grid-splash-item:nth-child(10n+1) { background: hsl(  36, 100%, 50%); }
.grid-splash-item:nth-child(10n+2) { background: hsl(  72, 100%, 50%); }
.grid-splash-item:nth-child(10n+3) { background: hsl( 108, 100%, 50%); }
.grid-splash-item:nth-child(10n+4) { background: hsl( 144, 100%, 50%); }
.grid-splash-item:nth-child(10n+5) { background: hsl( 180, 100%, 50%); }
.grid-splash-item:nth-child(10n+6) { background: hsl( 216, 100%, 50%); }
.grid-splash-item:nth-child(10n+7) { background: hsl( 252, 100%, 50%); }
.grid-splash-item:nth-child(10n+8) { background: hsl( 288, 100%, 50%); }
.grid-splash-item:nth-child(10n+9) { background: hsl( 324, 100%, 50%); }

/* hero
------------------------- */


.hero__title {
  font-size: 4.6rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 0.1em;
}

.hero__tagline {
  font-size: 1.6rem;
  margin: 0 0 0.8em;
  line-height: 1.2;
}


/* ---- hero__big-button ---- */

.hero__big-button {
  display: block;
  position: relative;
  padding: 10px;
  font-size: 1.2rem;
  background: #161615;
  color: #FB4;
  border-radius: 8px;
  margin-bottom: 10px;
  z-index: 1!important;
}

.hero__button-icon {
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.hero__button-icon path {
  fill: #FB4;
}

/* hover */
.hero__big-button:hover {
  background: #4FB;
  color: #222;
}

.hero__big-button:hover .hero__button-icon path {
  fill: #222;
}

/* ---- desktop ---- */

@media screen and ( min-width: 960px ) {

  .hero__title {
    font-size: 7.0rem;
  }

  .hero__tagline {
    font-size: 2.1rem;
  }

  /* buttons */

  .hero__big-button {
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 20px 20px;
    margin-bottom: 40px;
  }

}

/* in-use-grid
------------------------- */

.in-use-grid .grid-sizer,
.in-use-grid__item { width: 23.5%; }
.in-use-grid .gutter-sizer { width: 2%; }

.in-use-grid__item {
  background: #161615;
  float: left;
  margin-bottom: 20px;
  border-radius: 5px;
}

.in-use-grid__item__title {
  margin: 0;
  padding: 10px;
}

.in-use-grid__item__image {
  display: block;
  max-width: 100%;
  border-radius: 0 0 5px 5px;
}

/* nav
------------------------- */

.nav__title {
  float: left;
  margin: 0;
  line-height: 44px;
  font-size: 1.5rem;
}

.nav__title a {
  padding: 0 0.8em;
  display: block;
  color: #4FB;
}

.nav__title a:hover {
  background: #D26;
  color: white;
}

@media screen and ( min-width: 768px ) {

  .nav {
    position: absolute;
    left: 0;
    top: 39px;
    width: 200px;
  }

  .nav__title {
    line-height: 1.25;
    float: none;
    font-size: 2.0rem;
  }

  .nav__title a {
    padding: 7px 20px;
  }

  /* hide h1 on index */
  .page--index .nav__title {
    visibility: hidden;
  }

}

/* notification
------------------------- */

.notification {
  max-width: none;
  display: none; /* hide by default */
  position: fixed;
  z-index: 20; /* above most stuff */
  bottom: 0px;
  right: 0px;
  background: #A2C;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

@charset "UTF-8";

/* page-nav
------------------------- */

.page-nav {
  padding: 1.0em 10px;
  font-size: 0.8rem;
}

.page-nav__item {
  display: inline-block;
}

.page-nav__item:after {
  content: ' •';
  margin: 0 0.3em;
  opacity: 0.5;
}

.page-nav__item:last-child:after {
  content: none;
}

.page-nav a {
  color: #4BF;
}

.page-nav a:hover {
  color: #FB4;
}

@media screen and ( min-width: 768px ) {

  .page-nav {
    list-style: none;
    padding: 0;
    padding-top: 20px;
  }

  .page-nav.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
  }

  .page-nav__item {
    display: block;
    margin: 0;
  }

  .page-nav__item:after {
    content: none;
  }

  .page-nav__item a {
    display: block;
    padding: 3px 20px;
  }

   /* indent h3 and h4 items */
  .page-nav__item--h3 a,
  .page-nav__item--h4 a {
    padding-left: 30px;
  }

}

/* site-nav
------------------------- */

/* ---- site-nav ---- */

.site-nav {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

/* clear fix */
.site-nav:after {
  content: '';
  display: block;
  clear: both;
}

.site-nav__item {
  display: block;
  float: left;
  line-height: 44px; /* inline with title */
}

.site-nav__item__link {
  display: block;
  padding: 0 1.0em;
}

.site-nav__item__link:hover {
  background: #161615;
  color: white;
}

/* selected */
.page--filtering .site-nav__item--filtering .site-nav__item__link,
.page--sorting .site-nav__item--sorting .site-nav__item__link,
.page--layout .site-nav__item--layout .site-nav__item__link,
.page--layout-modes .site-nav__item--layout-modes .site-nav__item__link,
.page--options .site-nav__item--options .site-nav__item__link,
.page--methods .site-nav__item--methods .site-nav__item__link,
.page--events .site-nav__item--events .site-nav__item__link,
.page--draggable .site-nav__item--draggable .site-nav__item__link,
.page--license .site-nav__item--license .site-nav__item__link,
.page--extras .site-nav__item--extras .site-nav__item__link,
.page--faq .site-nav__item--faq a {
  color: #4Bf;
  background: #161615;
}

@media screen and ( min-width: 768px ) {

  .site-nav__item {
    float: none;
  }

  .site-nav__item {
    float: none;
    font-size: 1.1rem;
    line-height: 1.25;
  }


  .site-nav__item__link {
    padding: 7px 20px;
  }
  
}

/* sub-nav
------------------------- */

.sub-nav {
  display: none;
}

@media screen and ( min-width: 768px ) {

  .sub-nav-parent {
    position: relative;
    max-height: 2em;
    z-index: 1!important;
  }

  .sub-nav {
    display: block; /* visible on desktop */
    position: absolute;
    left: 100%;
    top: 0;
    list-style: none;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: width 0.2s, opacity 0.2s;
    margin: 0;
    padding: 0;
  }

  .sub-nav-parent:hover .sub-nav {
    opacity: 1;
    width: 190px;
    z-index: 2; /* on top of stuff */
  }

  .sub-nav-parent:hover,
  .sub-nav {
    background: #161615;
  }

  .sub-nav-parent > a:after { content: '...'; }
  .sub-nav-parent:hover > a:after { content: none; }

  .sub-nav__item__link {
    display: block;
    padding: 5px 10px;
  }

  .sub-nav__item {
    font-size: 1.0rem;
  }
  

}

/* ui-group
------------------------- */

.ui-group {
  display: inline-block;
}

.ui-group__title {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 40px;
  margin: 0 10px 0 0;
  font-weight: bold;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

@charset "UTF-8";
/* variable
------------------------- */

.variable {
  margin: 0.5em 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: hsla(0, 0%, 100%, 0.1);
}

.variable__type {
  color: #ADF;
}

.variable__type,
.variable__description {
  margin-left: 10px;
}

.variable__type:before,
.variable__description:before {
  content: '·';
  padding-right: 0.4em;
  display: inline-block;
}

.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}
 
.color-shape.round {
  border-radius: 35px;
}
 
.color-shape.big.round {
  border-radius: 75px;
}
 
.color-shape.red { background: red; }
.color-shape.blue { background: blue; }
.color-shape.yellow { background: yellow; }
 
.color-shape.wide, .color-shape.big { width: 150px; }
.color-shape.tall, .color-shape.big { height: 150px; }

/* grid-multi-item
------------------------- */

.grid-multi-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
  border-color: hsla(0, 0%, 0%, 0.4);
}

.grid-multi-item[data-color="blue"] { background: #19F; }
.grid-multi-item[data-color="red"] { background: #D00; }
.grid-multi-item[data-color="yellow"] { background: #FD0; }

.grid-multi-item .number {
  font-size: 4.0rem;
  font-weight: 600;
  color: white;
  padding-top: 0.1em;
  text-align: center;
  line-height: 90px;
  margin: 0;
}

/* stamp
------------------------- */

.stamp {
  position: absolute;
  width: 30%;
  height: 60px;
  background: orange;
  border: 4px dotted #161615;
}

/* ---- stamp-option ---- */

.stamp--stamp-option-stamp1 {
  left: 30%;
  top: 10px;
  width: 20%;
  height: 100px;
}

.stamp--stamp-option-stamp2 {
  right: 10%;
  top: 20px;
  width: 70%;
  height: 30px;
}

.stamp--packery {
  right: 20%;
  top: 80px;
  width: 45%;
  height: 90px;
}

/* stamp-methods
------------------------- */

.grid--stamp-methods .grid-item {
  opacity: 0.8;
}

.stamp--stamp-methods {
  left: 10px;
  top: 10px;
}
/* vertical-list
------------------------- */

.vertical-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #484542;
  background: hsla(0, 0%, 0%, 0.15);
}

.vertical-list__item {
  width: 100%;
  border-top: 1px solid #484542;
}

.vertical-list__item > * {
  display: inline-block;
  padding: 3px 4px;
}

.vertical-list__item .name { width: 20%; }
.vertical-list__item .symbol { width: 10%; }
.vertical-list__item .weight { width: 15%; }
.vertical-list__item .number { width: 10%; }
.vertical-list__item .category { width: 25%; }
